*,
*.hidden {
    transition: opacity 0.2s;
    transition-timing-function: ease-in-out;

    accent-color: var(--color-accent);

	overscroll-behavior: initial;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

*:focus {
	outline: none;
}

*:focus-visible {
	animation: focus 3s infinite ease-in-out;
}

@keyframes focus {
	0%,
	100% {
		box-shadow: 0 0 0 2px var(--color-accent);
	}
	50% {
		box-shadow: 0 0 2px 4px var(--color-accent);
	}
}

*::selection {
	background-color: var(--color-accent);
	color: var(--color-bg);
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--color-accent) var(--color-bg);
}

*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-accent);
	border-radius: 6px;
}

*::-webkit-scrollbar-track {
	background-color: transparent;
}

*::-webkit-scrollbar-corner {
	background-color: transparent;
}